[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.4"
djangorestframework = "==3.14.0"
psycopg2 = "*"

[dev-packages]
ruff = "*"
mypy = "*"
django-stubs = {version = "==4.2.7", extras = ["compatible-mypy"]}
djangorestframework-stubs = {version = "==3.14.5", extras = ["compatible-mypy"]}

[requires]
python_version = "3.11"
